header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

header span {
    font-size: 24px;
    font-weight: bold;
}

header nav {
    display: flex;
}

header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

header nav a:hover {
    color: #ff0000;
}
