// styles.module.scss

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;

    h2 {
        color: #333;
        margin-bottom: 8px;
    }

    p {
        color: #666;
    }

    a {
        display: block;
        margin-top: 8px;
        color: #0070f3;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
