// styles.module.scss

.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .button {
        padding: 8px 16px;
        margin-right: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #4caf50;
        color: #fff;
        font-size: 14px;

        &:hover {
            background-color: #45a049;
        }
    }

    .list {
        list-style: none;
        padding: 0;

        .item {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .divider {
                display: flex;
                justify-content: space-between;
            }


            &:last-child {
                margin-bottom: 0;
            }

            button {
                background-color: #d9534f;
                color: #fff;

                &:hover {
                    background-color: #c9302c;
                }
            }
        }
    }
}
