.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-areas:
      "result"
      "operators"
      "row1"
      "row2"
      "row3"
      "row4"
      "row5";
    gap: 5px;
  }
  
  .result {
    grid-area: result;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .buttonRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  .button {
    height: 40px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #d4d4d4;
  }
  
  .operator {
    background-color: #ff9933;
  }
  
  .equals {
    grid-column: span 2;
    height: 40px;
    font-size: 16px;
    background-color: #ff5050;
    color: #ffffff;
  }
  
  .delete {
    background-color: #ff5050; 
  }
  
  .clear {
    background-color: #ff5050; 
    color: #ffffff;
  }
  
  .lastAnswer {
    background-color: #66cc66;
    color: #ffffff;
  }
  
  .input {
    
  }